*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgba(68, 95, 226, 0.72);
    color: aliceblue;
    height: 80px;
    width: 100%;
    position: fixed;
}

h1{
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li{
    display: inline;
    margin-right: 4vw;
}

header a{
    color: antiquewhite;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

main{
    background-color:rgba(68, 95, 226, 0.72);
    color: white;
    height: 80vw;
    background-image: url("2.JPG");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2{
    font-size: 35px;
}

main p{
    font-size: 15px;
    margin: 25px 0;
}

main a{
    color: antiquewhite;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
}

main a:hover{
    background-color: rgba(255, 228, 196, 0.23);
}

footer{
    text-align: center;
    font-size: small;
}

.menu{
    display: none;
}

/* 响应式 */
@media screen and (max-width: 768px)
{
    header ul{
        display: none;
    }

    header h1{
        left: 50%;
        transform: translateX(-50%);
    }

    main h2{
        margin-top: 100px;
        font-size: 25px;
    }

    main p{
        font-size: 13px;
        margin: 10px;
    }

    .menu{
        display: block;
        background-color: transparent;
        color:white;
        border: 1px;
        font-size: 32px;
        position: absolute;
        top: 16px;
        left: 15px;
    }
}