.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-gap: 0px;
    min-height: 100vh;
    padding: 0;
    margin: 0;
	background-color: rgba(245, 238, 220, 0.5);
}

header {
	grid-area: header;
    background-color: rgba(171, 149, 121, 0.5);
    padding: 20px;
    text-align: center;
	font-family:华文行楷,Arial, Helvetica, sans-serif;
 	font-size: 40px;
}

.main {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    grid-area: main;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    color: black;
}


.center{
    align-items: center;
    display: flex;
    justify-content: center;
}

.main a{
    text-decoration: none;
    text-orientation: upright;
    writing-mode: vertical-rl;
    border: 2px solid;
    font-size: 250%;
    font-family: 隶书;
    margin: 30% 20%;
    color: rgba(39, 34, 0);
    background-color: rgba(171, 149, 121, 0.5);
    z-index: 1;
}

.main a:hover{
    color: rgba(171, 149, 121, 0.5); 
    background-color: rgba(39, 34, 0); 
}



footer {
    grid-area: footer;
    padding: 0px 20px 20px;
    height: 3vh;
}

footer a{
    text-decoration: none;
    color: rgba(119, 95, 0, 0.557);
}

footer a:hover{
    color: rgb(0, 0, 0);
}